<app-header></app-header>
<div class="container" style="margin-top: 25px;" #formElement>
  <h1 class="text-center">Income Expense Tracker</h1>
  <br />
 </div>
 <div class="container blinkedit">
    <div class="card shadow">
        <div class="card-body">

      <!-- Income, Saved, and Expense Display -->
            <div class="col text-left">
              <h4 class="income-field">
                <i class="fas fa-coins"></i>
                <span class="h" [style.color]="'white'">Income: Rs {{ totalIncome }}</span>
              </h4>
            </div>
            <div class="col">
              <h4 class="bal save-field">
                <i class="fas fa-wallet"></i>
                <span class="h" [style.color]="'white'">Saved: Rs {{ balance }}</span>
              </h4>
            </div>
            <div class="col text-right">
              <h4 class="exp expense-field">
                <i class="fas fa-credit-card"></i>
                <span class="h" [style.color]="'white'">Expense: Rs {{ totalExpense }}</span>
              </h4>
            </div>
          </div>

          <!-- Form for Adding Data -->

              <div class="row" >
                <div class="form-group col-lg-2 col-md-4 col-sm-6">
                  <label for="">Category:</label>
                  <ng-select
                    [items]="category"
                    bindLabel="label"
                    bindValue="value"
                    placeholder="Select Category"
                    [(ngModel)]="currentType"
                    [clearable]="true">
                    <ng-template ng-option-tmp let-item="item">
                      <i [class]="item.icon" [ngStyle]="{'color': item.value === 'income' ? 'green' : 'red'}" style="margin-right: 10px;"></i>
                      {{ item.label }}
                    </ng-template>
                  </ng-select>
                </div>

                <div class="form-group col-lg-2 col-md-4 col-sm-6">
                  <label for="">Amount:</label>
                  <input class="form-control" [(ngModel)]="amount" placeholder="Enter Amount" appInputRestrict="number" />
                </div>

                <div class="form-group col-lg-2 col-md-4 col-sm-6">
                  <label for="categorySelect" class="form-label">Category Name:</label>
                  <div class="input-group text">
                    <button *ngIf="!selectedCategory" class="btn btn-secondary" style="border: 1px solid black;" (click)="onClick()">
                      Select the Category
                    </button>
                  </div>
                  <div *ngIf="selectedCategory" class="selected-category">
                    <span>{{ selectedCategory }}</span>
                    <button style="margin-left: 5px;" class="btn btn-danger btn-sm" (click)="clearSelectedCategory()">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>

                <div class="form-group col-lg-2 col-md-4 col-sm-6">
                  <label for="">Date:</label>
                  <input class="form-control" [(ngModel)]="date" placeholder="Date" type="date" />
                </div>

                <div class="form-group col-lg-2 col-md-4 col-sm-6">
                  <label for="">Payment Mode:</label>
                  <ng-select
                    [items]="paymentModes"
                    bindLabel="label"
                    bindValue="value"
                    placeholder="Select a payment mode"
                    [(ngModel)]="selectedPaymentMode"
                    [clearable]="true">
                    <ng-template ng-option-tmp let-item="item">
                      <i [class]="item.icon" style="margin-right: 10px;"></i>
                      {{ item.label }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <!-- Add Button in Next Row -->
              <div class="row">
                <div class="form-group col-md-12 text-center">
                  <button class="btn btn-success add" (click)="addTransaction()" *ngIf="!editMode">Add</button>
                  <button class="btn btn-success update" (click)="updateTransaction()" *ngIf="editMode">Update</button>
                </div>
              </div>
      </div>
</div>


  <!-- Year Navigation Section -->

  <div class="row mt-4">
        <div class="row mt-4 d-flex justify-content-center align-items-center">
        <button class="btn btn-secondary arrow" (click)="decrementYear()">&lt;</button>
        <h4 class="fy"><strong>{{ filterYear }}</strong></h4>
        <button class="btn btn-secondary arrow" (click)="incrementYear()">&gt;</button>
    </div>
      <ng-select style="width: 150px; scrollbar-color: #696868 #e0e0e0; scrollbar-width:thin; text-align: center;"
        class="form-select h"
        [items]="months"
        bindLabel="label"
        bindValue="value"
        [(ngModel)]="filterMonth"
        (change)="filterTransactionsByMonth(filterMonth)"
        placeholder="Filter by Months"
        [clearable]="true">
      </ng-select>
      <!-- <div><i class="fas fa-file-excel" style="color:darkblue; font-size: 24px; cursor: pointer;" (click)="exportToExcel()"></i></div> -->
      <ng-container *ngIf="isUserLoggedIn; else guestExcelContent">
        <i class="fas fa-file-excel" style="color:darkblue; font-size: 24px; cursor: pointer;"
           (click)="exportToExcel()"></i>
      </ng-container>
      <ng-template #guestExcelContent>
        <span class="locked-analytics" style="color: darkblue;">
          <i class="fas fa-lock" title="Please login to export data" style="margin-right: 10px;"></i>
          <span title="Please login to export data" >Export Excel (Locked)</span>
        </span>
      </ng-template>
    </div>
  <br />




  <!-- Table for displaying transactions -->

<div class="container mt-4" style="padding: 0 50px;">
  <div class="row mt-4">
      <table class="table"  style="border: 1px solid #a1a1a1;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Mode</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="paginatedTransactions.length === 0">
            <td colspan="7" class="text-center">No record found</td>
          </tr>
          <tr *ngFor="let transaction of paginatedTransactions"
          [ngClass]="{ 'highlight': transaction.id === editId }">
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.paymentMode }}</td>
            <td [appHighlight]="transaction.type">{{ transaction.amount }}</td>
            <td>{{ transaction.date | date }}</td>
            <td>
              <div (click)="editTransaction(transaction.id)">
                <i class="fas fa-pen" style="color: blue; font-size: 16px; cursor: pointer;"></i>
              </div>
            </td>
            <td>
              <div (click)="deleteTransaction(transaction.id)">
                <i class="fas fa-trash-alt" style="color: red; font-size: 16px; cursor: pointer;"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
      <!-- Pagination Controls -->
      <div class="pagination" style="margin-bottom: 40px; margin-top: 20px;">
        <span class="pagination-text" (click)="previousPage()" [class.disabled]="currentPage === 1">Previous</span>
        <ul class="pagination-list">
          <li *ngFor="let page of [].constructor(totalPages); let i = index">
            <span class="page-button" (click)="setPage(i + 1)" [class.active]="currentPage === (i + 1)">{{ i + 1 }}</span>
          </li>
        </ul>
        <div *ngIf="paginatedTransactions.length === 0" class="no-records text-center">
          <span>Showing Data 0/0 </span>
        </div>
        <span class="pagination-text" (click)="nextPage()" [class.disabled]="currentPage === totalPages">Next</span>
      </div>

      <app-bot></app-bot>
